*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    border: 0;
    padding: 0;
    color: white;
}
nav{
    display: flex;
}
.icono a img{
    width: 80px;
    height: auto;
    border-radius: 50% ;
}
.barra-busqueda-desktop{
    display: none;
}
.barra-busqueda-mobile{

    display: flex;
    
}

@media screen and (max-width:450px){

    .barra-busqueda-mobile{

        display: none;
        
    }
    .barra-busqueda-desktop{
        display: flex;
    }
    
}
