// Variables
$color-primary: rgb(255, 206, 116);
$color-secondary: rgb(255, 235, 146);
$color-text: rgb(226, 226, 226);
$font-family: "Hanken Grotesk";
$circule: 50%;

//Body
body {
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
    font-family: $font-family;
}

// Encabezado
header {
    background-color: $color-primary;
}

// Logo
.logo {
    
    img {

        width: 40px;
        height: auto;
        border-radius: $circule;

    }
}

// Icoos Nav
.list-icons {

    list-style: none;
    margin: 0;
    padding: 0;

    li a img {
        width: 40px;
        height: auto;
    }
}

// Nav Mobile
#nav-mobile {
  background-color: $color-secondary;
}

// Nav desktop
#nav-desktop {
  display: none;
}

.nav-item a:hover {
    color: $color-text;
    background-color: black;
}

// Barra Busqueda mobile
.icono-lupa {
    img{
        width: 20px;
        height: auto;
    }
}

// Enlaces nav Mobile
#nav-mobile {

    .nav-item > img {
        width: 15px;
        height: 15px;
    }

}

// Main
// Articulos
.articulos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
    .item-articulos a img{
        width: 100%;
        height: 100%;
    }
    .mayor-1{
        grid-column: 1/3;
    }
    .mayor-2{
        grid-column: 1/3;
    }
}

//Consolas
.consolas{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    div{
        img{
            border: solid black 2px;
            border-radius: 10px;
            
            width: 100%;
            max-width: 456px;
            height: 100%;
        }
    }
}

// Lista juegos
.lista-juegos {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    // Item Juego
    .item-juego {

        display: flex;
        justify-content: center;

        //Icono Mas
        .icono-mas img {
            height: 20px;
            width: auto;
            z-index: 2;
            position: absolute;
        }

        //Imagen Juego
        .img-juego img {
            
            height: auto;
            border-radius: 15px;
            border: 2px rgb(61, 61, 61) solid;
        }
    }
}

// Articulos Pc
.articulos-pc-lista{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .articulo-pc{
        border: solid rgb(58, 58, 58) 2px;

        display: flex;
        justify-content: center;
        align-items: center;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }
}

//Registrar
.registrar{
    background-color: $color-secondary;
    .input-registro{
        border: black solid 1px;
        border-radius: 8px;
        width: 250px;
    }

    // Input Registro
    .input-registro::placeholder{
        color: rgb(177, 177, 177);
        font-family: sans-serif;
        font-size: 15px;
    }
}



// Footer
footer {
    color: $color-text;
  
    // Logo-footer
    .logo-footer img {
        width: 40px;
        height: auto;
        border-radius: $circule;
    }

    // Icono watsap 
    .icono-watsap img {
        width: 40px;
        height: auto;
    }

}

// Media Queries
@media screen and (min-width:576px) {

    // Nav desktop
    #nav-desktop {
        display: block;
    }

    // Logo
    .logo img {
        width: 50px;
    }
    //Connsolas
    .consolas{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    

    // Lista juegos
    .lista-juegos {
        grid-template-columns: repeat(3, 1fr);
    }

    //Articulos
    .articulos{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
        .item-articulos a img{
            max-width: 100%;
            height: 100%;
        }
        .mayor-1{
            grid-column: 1/3;
        }
        .mayor-2{
            grid-column: 3/5;
        }
    }

    //Registrar
    .registrar{
        .input-registro{
            width: 300px;
        }
    }
}
@media screen and (min-width:768px) {
  
    // Lista Nav Desktop
    #list-nav-desktop {
        font-size: 16px;
    }

    // Lista juegos
    .lista-juegos {
        grid-template-columns: repeat(4, 1fr);
    }

}
@media screen and (max-width:991px) {

    // Imagen Juego
    .img-juego img{
      width: 150px;
    } 
}
@media screen and (min-width:992px) {

    // Imagen Juego
    .img-juego {

        img{
            width: 165px;
        } 
    }
}

@media screen and (min-width:1200px) {

    // Logo
    .logo img {
        width: 55px;
    }

    // Icoos Nav
    .list-icons {

        li a img {
            width: 44px
        }
    }

    // Lista Nav Desktop
    #list-nav-desktop {
        font-size: 17px;
    }

    // Imagen Juego
    .img-juego {
       
        img{
            width: 180px;
        }    
    }

    // Articulos Pc
    .articulos-pc-lista{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (min-width:1400px) {

    //Nav Desktop
    .nav-item a {
        font-size: 19px;
    }

    //Imagen Juego
    .img-juego {
       
        img{
            width: 195px;
        }    
    }
}