body{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Hanken Grotesk";
}

/* Encabezado */
header{
    background-color: rgb(255, 201, 100);
}

/* Logo */
.logo img{
    width: 40px;
    height: auto;

    border-radius: 50%;
}

/* Iconos nav */
.list-icons{
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-icons li a img{
    width: 40px;
    height: auto;
}

/* Nav Mobile */
#nav-mobile{
    background-color: rgb(255, 230, 117);
}

/* Nav Desktop */
#nav-desktop{
    display: none;
}

/* Elementos Desktop */
.nav-item a:hover{
    color: white;
    background-color: rgb(29, 29, 29);
}



/* Barra Busqueda mobile */
.icono-lupa img{
    width: 20px;
    height: auto;
}

/* Enlaces nav Mobile */
#nav-mobile .nav-item > img{
    width: 15px;
    height: 15px;
}



/* Main */
/* Lista juegos */
.lista-juegos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Item Juego */
.item-juego{
    display: flex;
    justify-content: center;
}
.icono-mas img{
    height: 20px;
    width: auto;
    z-index: 2;
    position: absolute;
} 
.img-juego img{
    width: 150px;
    height: auto;
    border-radius: 15px;
    border: 2px black solid;
}



/* Footer */
footer{
    color: rgb(226, 226, 226);
}

/* Logo-footer */
.logo-footer img{
    width: 30px;
    height: auto;

    border-radius: 50%;
}

/* Icono watsap */
.icono-watsap img{
    width: 40px;
    height: auto;
}



@media screen and (min-width:576px) {
    
    /* Nav desktop */
    #nav-desktop{
        display: block;
    }

    /* Logo */
    .logo img{
        width: 50px;
    }

    /* Lista juegos */
    .lista-juegos{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width:768px) {

    /* Lista Nav Desktop */
    #list-nav-desktop{
        font-size: 16px;
    }

    /* Lista juegos */
    .lista-juegos{
        grid-template-columns: repeat(4,1fr);
    }
}
@media screen and (min-width:992px){
    
    /* Imagen Juego */
    .img-juego img{
        width: 165px;
    }
}
@media screen and (min-width:1200px){

    /* Logo */
    .logo img{
        width: 55px;
    }

    /* Lista Nav Desktop */
    #list-nav-desktop{
        font-size: 17px;
    }

    /* Imagen Juego */
    .img-juego img{
        width: 180px;
    }
}